/* Шрифты */
@font-face {
    font-family: "TTLakes";
    src: url("./fonts/TTLakes-Regular.woff");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "TTLakes";
    src: url("./fonts/TTLakes-Medium.woff");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "TTLakes";
    src: url("./fonts/TTLakes-Bold.woff");
    font-weight: 700;
  }

  @font-face {
    font-family: "TTLakes";
    src: url("./fonts/TTLakes-Thin.woff");
    font-weight: 100;
  }

/* Общие стили */
body {
    margin: 0;
    padding: 0;
    background: rgb(242, 242, 242);
    }
  
* {
    box-sizing: border-box;
  }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

h2 {
margin: 0;
}


// Стили для меню article 1120px
@media screen and (min-width: 1120px) {
    .article {

		// .article_container

		&_container {
      margin: 0 auto;
      padding: 16px 35px 0px 35px;
      max-width: 1140px;
		}

		// .article__title

		&__title {
      color: rgb(126, 126, 130);
      font-family: TTLakes;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      margin-bottom: 40px;
		}

		// .article__list

		&__list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 16px;
      column-gap: 32px;
      margin-bottom: 25px;
		}

		// .article__list--item

		&__list--item {
      width: 240px;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 16px 20px 16px;
      background: rgb(255, 255, 255);
      border: 1px solid rgb(234, 234, 234);
      border-radius: 6px;
    }

    &__list--item:nth-child(n + 9) {
      visibility: hidden;
      display: none;
    }

		// .article__image

		&__image {
      max-width: 130px;
      max-height: 50px;
		}

		// .article__link

		&__link {
		}

		// .article__button
    &__span {
      display: flex;
      align-items: center;
    }
		&__button {
      position: relative;
      text-align: center;
      color: rgb(27, 28, 33);
      font-family: TTLakes;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.2px;
      padding: 0;
      border: none;
      cursor: pointer;
		}

		// .article__button--img

		&__button--img {
      
    }

    .swiper {
      display: none;
    }

}
// класс для показанных после нажатия кнопки элементов
.article__list--item.show {
 display: flex;
 visibility: visible;
 align-items: center;
}

}




// Cтили под планшет
@media screen and (min-width: 767px) and (max-width: 1120px) {
  .article {

		// .article_container

		&_container {
      margin: 0 auto;
      padding: 16px 24px 0px 24px;
      max-width: 720px;
      box-sizing: content-box;
		}

		// .article__title

		&__title {
      color: rgb(126, 126, 130);
      font-family: TTLakes;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      margin-bottom: 40px;
		}

		// .article__list

		&__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      row-gap: 16px;
      column-gap: 24px;
      margin-bottom: 25px;
		}

		// .article__list--item

		&__list--item {
      width: 224px;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 16px 20px 16px;
      background: rgb(255, 255, 255);
      border: 1px solid rgb(234, 234, 234);
      border-radius: 6px;
    }

    &__list--item:nth-child(n + 7) {
      visibility: hidden;
      display: none;
    }

		// .article__image

		&__image {
      max-width: 130px;
      max-height: 50px;
		}

		// .article__link

		&__link {
		}

		// .article__button
    &__span {
      display: flex;
      align-items: center;
    }
		&__button {
      position: relative;
      text-align: center;
      color: rgb(27, 28, 33);
      font-family: TTLakes;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.2px;
      padding: 0;
      border: none;
      cursor: pointer;
		}

    .swiper {
      display: none;
    }
		
}
// класс для показанных после нажатия кнопки элементов
.article__list--item.show {
 display: flex;
 visibility: visible;
 align-items: center;
}

}


// Стили под телефон
@media screen and (min-width: 320px) and (max-width: 767px) {

  .article {

    // .article__title
    &_container {
      width: 288px;
      margin: 0 auto;
      padding: 16px 24px 0px 24px;
    }

		&__title {
      width: 288px;
      color: rgb(126, 126, 130);
      font-family: TTLakes;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      margin-bottom: 32px;
    }
      &__list {
        display: none;
      }

      &__span {
      display: none;
      }
		}

// Cтили для свайпера вне артикля
    .swiper{
      width: 240px;
      margin: 0 auto;
    }

    .swiper-slide {
      // width: 240px;
      margin-bottom: 41px;
      border: 1px solid rgb(234, 234, 234);
      border-radius: 6px;
      background: rgb(255, 255, 255);
    } 
     
    .swiper-pagination {
  // --swiper-pagination-top: auto;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    }

    .wrapper-slide {
      height: 72px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .swiper-image {
      margin-left: 16px;
    }

    .swiper-link {
      display: block;
      margin-right: 16px;
    }
    
    .swiper .swiper-pagination-bullet {
      background: rgb(221, 221, 221);
    }

    .swiper .swiper-pagination-bullet-active {
    background: rgb(181, 182, 188);
    }
}

  



